HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
application.properties

### VS Code ###
.vscode/
/src/main/java/com/attendit/Attend/It/security/config/SecurityConfig.java
/src/main/java/com/attendit/Attend/It/security/config/AuthenticationProviderImpl.java
/src/main/java/com/attendit/Attend/It/security/config/PasswordEncoderConfig.java
/src/main/java/com/attendit/Attend/It/security/jwt/JWTAuthenticationFilter.java
/src/main/java/com/attendit/Attend/It/security/jwt/JWTService.java
/sql-scripts/creating-entities/create-db.sql
/sql-scripts/creating-entities/insert-events.sql
/sql-scripts/creating-entities/insert-users.sql
/src/main/java/com/attendit/Attend/It/security/authentication/AuthenticationService.java
/src/main/java/com/attendit/Attend/It/security/authentication/AuthenticationServiceImpl.java
events_images